<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header>
        <h1>Sitio Web de Noticias</h1>
      </header>
    
      <main class="main-1">
        <section>
          <article>
            <h2>Crece el consumo de vino en lata</h2>
            
          </article>
          
           
    <img src="../img/crece el vino en lata.webp" alt="crece el vino en lata">
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dogmagestion.com%2Fvino-en-lata-moda-milennials%2F&psig=AOvVaw08YmMiQ0W1-dtJ0d8BiWWA&ust=1690370268074000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKjCsLL-qYADFQAAAAAdAAAAABAg" class="read-more">conoce mas...</a>
    <h1 class="colordarkslategray">Crece el vino en lata </h1>
    <h2>Consumo de vino en la Argentina</h2>
    <p class="colordarkslategray">Es primordial el esfuerzo que están haciendo las bodegas para desarrollar un producto que crea alternativas para los consumidores. “En 2015, cuando comenzaron a pensar el Plan Estratégico 2030, debatieron sobre la lata, que en ese momento era solo una idea</p>
    <div h1 class="colorsteelblue">AMIGABLE CON EL MEDIO AMBIENTE</h1> </div>
    <p>La lata es un envase sustentable 100% reciclable, ahorra energía y las emisiones de gases contaminantes.</p>
    
</main>
<footer>
    <p class="parrafo-destacado">Derechos de autor &copy; 2023 Sitio Web de Noticias</p>
  </footer>

    <a href="../../index.html"></a>
</body>
</html>

